.contacts__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
}

.contacts-text__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}

.contacts-text__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}
